 <!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AutoMinima - precesion in every scale</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/User/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/User/assets/images/icons/autominima-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/User/assets/images/icons/autominima-logo.png">
    <link rel="manifest" href="/User/assets/images/icons/site.html">
    <link rel="mask-icon" href="/User/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/User/assets/images/icons/autominima-logo.png">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/User/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
     <%-include("../../Views/Partials/User/headerLand")%>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-middle sticky-header">
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/User/assets/images/2019-Bugatti-Divo-004-1440w.jpg')">
        		<div class="container">
        			<h1 class="page-title">"Love a Brand? We’ve Got It in Miniature!"
                        <span>Discover diecast models from the world’s most admired carmaker</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
                
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="categories-page">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-md-6">
	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('CCA'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/CCA_large.webp" alt="Banner">
		                			</a>
		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('CCA'))?._id || '' %>">
		                				<h3 class="banner-title"></h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">3 Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->

	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Bburago'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/Bburago_Logo.png" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Bburago'))?._id || '' %>">
		                				<h3 class="banner-title"></h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">6 Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->
	                		</div><!-- End .col-md-6 -->

	                		<div class="col-md-6">
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<div class="banner banner-cat banner-badge">
				                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('HotWheels'))?._id || '' %>">
				                				<img src="/User/assets/images/brands/Hotwheels.jpg" alt="Banner">
				                			</a>

				                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('HotWheels'))?._id || '' %>">
				                				<h3 class="banner-title"></h3><!-- End .banner-title -->
				                				<h4 class="banner-subtitle">14 Products</h4><!-- End .banner-subtitle -->
				                				<span class="banner-link-text">Shop Now</span>
				                			</a><!-- End .banner-link -->
			                			</div><!-- End .banner -->
	                				</div><!-- End .col-sm-6 -->

	                				<div class="col-sm-6">
	                					<div class="banner banner-cat banner-badge">
				                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Inno 64'))?._id || '' %>">
				                				<img src="/User/assets/images/brands/inno 64.png" alt="Banner">
				                			</a>

				                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Inno 64'))?._id || '' %>">
				                				<h3 class="banner-title"></h3><!-- End .banner-title -->
				                				<h4 class="banner-subtitle">6 Products</h4><!-- End .banner-subtitle -->
				                				<span class="banner-link-text">Shop Now</span>
				                			</a><!-- End .banner-link -->
			                			</div><!-- End .banner -->
	                				</div><!-- End .col-sm-6 -->
	                			</div><!-- End .row -->

	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Maisto'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/Maisto_brand_logo.png" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Maisto'))?._id || '' %>">
		                				<h3 class="banner-title"></h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">7 Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->
	                		</div><!-- End .col-md-6 -->

	                		<div class="col-sm-6 col-md-3">
	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Majorette'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/majorette.jfif" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Majorette'))?._id || '' %>">
		                				<h3 class="banner-title"></h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">7  Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->
	                		</div><!-- End .col-md-3 -->

	                		<div class="col-sm-6 col-md-3 order-md-last">
	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Mini Gt'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/miniGT.jpg" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Mini Gt'))?._id || '' %>">
		                				<h3 class="banner-title"></h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">5 Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->
	                		</div><!-- End .col-md-3 -->

	                		<div class="col-md-6">
	                			<div class="banner banner-cat banner-badge">
		                			<a href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Para 64'))?._id || '' %>">
		                				<img src="/User/assets/images/brands/para_64.png" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="/shopPage?brands=<%= brands.find(b => b.brandName.includes('Para 64'))?._id || '' %>">
		                				<h3 class="banner-title">exclusives</h3><!-- End .banner-title -->
		                				<h4 class="banner-subtitle">4 Products</h4><!-- End .banner-subtitle -->
		                				<span class="banner-link-text">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->
	                		</div><!-- End .col-md-6 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .categories-page -->
				
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>
    <%-include("../../Views/Partials/User/footerLand")%>
</body>


<!-- molla/product-category-boxed.html  22 Nov 2019 10:03:09 GMT -->
</html>