<!-- <!DOCTYPE html>
<html lang="en"> -->


<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>AutoMinima - precesion in every scale</title>
    <!-- <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template"> -->
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/User/assets/images/icons/apple-touch-icon.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/User/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/User/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/User/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/User/assets/images/icons/site.html">
    <link rel="mask-icon" href="/User/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/User/assets/images/icons/autominima-logo.png">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/User/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/nouislider/nouislider.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Orbitron&display=swap" rel="stylesheet">
   <%-include("../../Views/Partials/User/headerLand")%>
</head>

<body>
    <div class="page-wrapper">
        <!-- header -->
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/User/assets/images/2025-Ferrari-499P-001-1440w.jpg')">
        		<div class="container">
        			<h1 class="page-title">Collect all your faviourate items starting from 199/-<span>Shop now</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                </div>
            <!-- </nav>End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span>9 of 56</span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->
                			</div>
                              <div class="products mb-3">
                                <div class="row g-4 justify-content-center" id="product-list">
                                  <% products.forEach(product => { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                      <div class="products-container">
                                        <a href="/productDetail/<%=product._id%>">
                                          <div class="product-card">
                                            <img src="<%= product.productImage[0] %>" class="img-fluid w-100 rounded-top" alt="<%= product.productName %>">
                                          </div>
                                          <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                            <%= product.category.name %>
                                          </div>
                                          <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4><%= product.productName %></h4>
                                            <p><%= product.scale %> | <%= product.edition %></p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                              <p class="text-dark fs-5 fw-bold mb-0">₹<%= product.salePrice %></p>
                                              <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                              </a>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  <% }) %>
                                </div>
                              </div>
                            <!-- <div class="products mb-3"  id="product-list">
                                <div class="row g-4 justify-content-center">
                                  <% products.forEach(product => { %>
                                     <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="products-container">
                                            <a href="/productDetail/<%=product._id%>">
                                            <div class="product-card">
                                                <img src="<%= product.productImage[0] %>" class="img-fluid w-100 rounded-top" alt="<%= product.productName %>">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                                <%= product.category.name %>
                                            </div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                            <h4><%= product.productName %></h4>
                                                            <p><%= product.scale %> | <%= product.edition %></p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0">₹<%= product.salePrice %></p>
                                                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                               <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                            </a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                  <% }) %>
                                </div>
                            </div>End .products -->
                                            <nav aria-label="Page navigation">
                                              <ul class="pagination justify-content-center">
                                                <% if (currentPage > 1) { %>
                                                  <li class="page-item">
                                                    <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                    </a>
                                                  </li>
                                                <% } else { %>
                                                  <li class="page-item disabled">
                                                    <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                    </a>
                                                  </li>
                                                <% } %>
                                            
                                                <% for (let i = 1; i <= totalPages; i++) { %>
                                                  <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                                  </li>
                                                <% } %>
                                            
                                                <li class="page-item-total">of <%= totalPages %></li>
                                            
                                                <% if (currentPage < totalPages) { %>
                                                  <li class="page-item">
                                                    <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                    </a>
                                                  </li>
                                                <% } else { %>
                                                  <li class="page-item disabled">
                                                    <a class="page-link page-link-next" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
                                                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                    </a>
                                                  </li>
                                                <% } %>
                                              </ul>
                                            </nav>
                                    		</div><!-- End .col-lg-9 -->
                                    	<aside class="col-lg-3 order-lg-first">
                                    		<div class="sidebar sidebar-shop">
                                    			<div class="widget widget-clean">
                                    				<label>Filters:</label>
                                    				<a href="#" class="sidebar-filter-clear" onclick="clearAllFilters()">Clear All</a>
                	                                    </div><!-- End .widget widget-clean -->
                                                              <!-- Filter by Category -->
                                                            <div class="widget widget-categories">
                                                              <h3 class="widget-title">Filter by Category</h3>
                                                              <div class="filter-items" id="category-filter">
                                                                <% categories.forEach(category => { %>
                                                                   <label>
                                                                     <input type="checkbox" class="category-checkbox" value="<%= category._id %>">
                                                                     <%= category.name %>
                                                                   </label>
                                                                <% }) %>
                                                              </div>
                                                            </div>
                                                             <!-- Filter by Brand -->
                                                             <div class="widget widget-categories">
                                                               <h3 class="widget-title">Filter by Brand</h3>
                                                               <div class="filter-items" id="brand-filter">
                                                                <% brands.forEach(brand => { %>
                                                                    <label>
                                                                      <input type="checkbox" class="brand-checkbox" value="<%= brand._id %>">
                                                                      <%= brand.brandName%>
                                                                    </label>
                                                                <% }) %>
                                                               </div>
                                                             </div>
                                                             
                                                            <!-- Filter by Edition -->
                                                            <div class="widget widget-categories">
                                                              <h3 class="widget-title">Filter by Edition</h3>
                                                              <div class="filter-items" id="edition-filter">
                                                                <% editions.forEach(edition => { %>
                                                                  <% if (edition) { %>
                                                                    <label>
                                                                      <input type="checkbox" class="edition-checkbox" value="<%= edition %>">
                                                                      <%= edition %>
                                                                    </label>
                                                                  <% } %>
                                                                <% }) %>
                                                              </div>
                                                            </div>
                                                            
                                                            <!-- Filter by Scale -->
                                                            <div class="widget widget-categories">
                                                              <h3 class="widget-title">Filter by Scale</h3>
                                                              <div class="filter-items" id="scale-filter">
                                                                <% scales.forEach(scale => { %>
                                                                  <label>
                                                                    <input type="checkbox" class="scale-checkbox" value="<%= scale %>">
                                                                    <%= scale %>
                                                                  </label>
                                                                <% }) %>
                                                              </div>
                                                            </div> 
                                                </div><!-- End .widget -->	
                                                <!-- <div class="widget widget-collapsible"> -->
    				            	                <h3 class="widget-title">
					            	                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
					            	                    Price
					            	                </a>
					            	                </h3><!-- End .widget-title -->
					            	                <div class="collapse show" id="widget-5">
					            	        	    <div class="widget-body">
                                                      <div class="filter-price">
                                                    <div class="filter-price-text">
                                                        Price Range:
                                                        <span id="filter-price-range"></span>
                                                    </div><!-- End .filter-price-text -->
                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
					            		</div><!-- End .widget-body -->
					            	</div><!-- End .collapse -->
        			            </div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    <!-- ---------------main footer here--------------- -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <!-- -----------mobile container comes here--------------- -->
    <!-- Sign in / Register Modal -->
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
          const selectedFilters = {
            categories: [],
            brands: [],
            editions: [],
            scales: []
          };
        
          // Utility to collect values from checked checkboxes
          function getCheckedValues(selector) {
            return Array.from(document.querySelectorAll(selector + ':checked')).map(input => input.value);
          }
        
          // Function to apply filters
          function applyFilters() {
            selectedFilters.categories = getCheckedValues('.category-checkbox');
            selectedFilters.brands = getCheckedValues('.brand-checkbox');
            selectedFilters.editions = getCheckedValues('.edition-checkbox');
            selectedFilters.scales = getCheckedValues('.scale-checkbox');
        
            // You can log the filters to test
            console.log("Applied Filters:", selectedFilters);
        
            // Call a function to fetch and render filtered products
            fetchFilteredProducts();
          }
        
          // Attach event listeners to all checkboxes
          function setupFilterListeners() {
            const allCheckboxes = document.querySelectorAll(
              '.category-checkbox, .brand-checkbox, .edition-checkbox, .scale-checkbox'
            );
        
            allCheckboxes.forEach(checkbox => {
              checkbox.addEventListener('change', applyFilters);
            });
          }
        
          // Call this when the page loads
          document.addEventListener("DOMContentLoaded", () => {
            setupFilterListeners();
          });
</script>

<script>
  async function fetchFilteredProducts() {
    const response = await fetch('/filterProducts', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(selectedFilters)
    });

    const data = await response.json();
    
    // Now you can dynamically render the filtered products
    renderProducts(data.products); // You’ll define this function
  }

  function renderProducts(products) {
    const productContainer = document.getElementById('product-list');
    productContainer.innerHTML = '';

    if (products.length === 0) {
      productContainer.innerHTML = '<p>No products found.</p>';
      return;
    }

    products.forEach(product => {
      const productHTML = `
        <div class="product-card">
          <img src="${product.images[0]}" alt="${product.productName}">
          <h4>${product.productName}</h4>
          <p>Price: ₹${product.price}</p>
        </div>
      `;
      productContainer.innerHTML += productHTML;
    });
  }

  function clearAllFilters() {
  document.querySelectorAll(
    '.category-checkbox, .brand-checkbox, .edition-checkbox, .scale-checkbox'
  ).forEach(checkbox => checkbox.checked = false);

  applyFilters(); // This re-fetches all products
}
</script>


    <%-include("../../Views/Partials/User/footerLand")%>
</body>
</html>