
<%-include("../../Views/Partials/User/headerLand")%>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/User/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/User/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/User/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/User/assets/images/icons/site.html">
    <link rel="mask-icon" href="/User/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/User/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/User/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/User/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link" active  id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Account</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
                                    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-wallet" role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p class="dashp">Hello <span class="font-weight-normal text-dark"><%= userData.firstName+" "+userData.lastName %></span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
                                          <% addresses.forEach((addr, index) => { %>
                                            <div class="col-lg-6">
                                              <div class="card card-dashboard">
                                                <div class="card-body">
                                                  <h3 class="card-title">Address <%= index + 1 %></h3>
                                                  <p id="user-name"><strong><%= addr.firstName %> <%= addr.lastName %></strong></p>
                                                  <p id="user-address"><%= addr.houseName %></p>
                                                  <p><%= addr.city %>, <%= addr.state %></p>
                                                  <p><%= addr.country %> - <%= addr.pincode %></p>
                                                  <p id="user-phone">Contact: <%= addr.phone %></p>
                                        
                                                  <div class="address-actions">
                                                    <a href="/edit-address/<%= addr._id %>" class="btn btn-sm btn-outline-primary confirm-edit">Edit</a>
                                                    <!-- <a href="/remove-address/<%= addr._id %>" class="btn btn-sm btn-outline-danger confirm-remove">Remove</a> -->
                                                     <a href="#" data-id="<%= addr._id %>" class="btn btn-sm btn-outline-danger confirm-remove">Remove</a>

                                                    <% if (addr.isDefault) { %>
                                                      <span class="badge bg-success">Default</span>
                                                    <% } else { %>
                                                      <a href="/set-default-address/<%= addr._id %>" class="btn btn-sm btn-outline-success confirm-default">Set as Default</a>
                                                    <% } %>
                                                  </div>
                                                </div>
                                              </div>
                                              <a href="/addUserAddress" class="btn btn-outline-primary-2" style="margin-bottom: 10px;">
                                                        <span>ADD NEW ADDRESS</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </a>
                                            </div>
                                          <% }); %>
                                        </div>
								    </div><!-- .End .tab-pane -->
								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form id="userForm">
										<div class="profile-image-container text-center mb-4">
                                            <img src="<%= userData.profilePicture ? userData.profilePicture : '/User/assets/images/icons/userProfileDemo.png' %>" 
                                                 alt="Profile Picture" 
                                                 id="profileImage" 
                                                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 15px; border-radius: 50%; background-color: rgb(255, 255, 255);">
                                        </div>
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name </label>
			                						<input type="text" class="form-control" id="firstname" value="<%= userData.firstName %>">
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name </label>
			                						<input type="text" class="form-control"value="<%= userData.lastName %>" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		                					<label>Email address </label>
		        							<input type="email"  id="userEmail" class="form-control" value="<%= userData.email %>"required>

		            						<label>Phone Number</label>
		            						<input type="text" id="userPhone" class="form-control" value="<%= userData.phone %>">

											<div class="address">
                                                <label>Address</label>
                                                <div class="address-row">
                                                    <!-- <input type="text" class="form-control"
                                                        value="<%= typeof userData.address === 'string' && userData.address.trim() ? userData.address : 'No address, update now' %>"> -->
														                            <% if (addresses.length > 0) { %>
                                                          <% const addr = addresses[0]; %>
                                                          <input type="text" class="form-control" value="<%= `${addr.houseName}, ${addr.city}, ${addr.state} - ${addr.pincode}` %>">
                                                        <% } else { %>
                                                          <input type="text" class="form-control" value="No address, update now">
                                                        <% } %>
                                                    <a href="/addUserAddress" class="btn btn-outline-primary-2" style="margin-bottom: 10px;">
                                                        <span>ADD NEW ADDRESS</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <a href="/getEditProfile" class="btn btn-outline-primary-2 edit-profile-btn">
                                                <span>EDIT PROFILE</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <!-- ----------------------------------------- js files------------------------------------------- -->
    <!-- Plugins JS File -->
     
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/User/assets/js/jquery.min.js"></script>
    <script src="/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/User/assets/js/jquery.waypoints.min.js"></script>
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>
    <script>
       document.querySelectorAll('.confirm-remove').forEach(button => {
         button.addEventListener('click', async (e) => {
           e.preventDefault();
           const id = button.getAttribute('data-id');
     
           const confirm = await Swal.fire({
             title: "Are you sure?",
             text: "You won't be able to revert this!",
             icon: "warning",
             showCancelButton: true,
             confirmButtonText: "Yes, delete it!"
           });
     
           if (confirm.isConfirmed) {
             try {
               const res = await fetch(`/remove-address/${id}`, {
                 method: 'DELETE'
               });
     
               const result = await res.json();
               if (res.ok) {
                 Swal.fire("Deleted!", result.message, "success").then(() => {
                   window.location.reload();
                 });
               } else {
                 Swal.fire("Error", result.message || "Failed to delete address", "error");
               }
             } catch (err) {
               Swal.fire("Error", "Something went wrong", "error");
             }
           }
         });
       });
    </script>

</body>


<%-include("../../Views/Partials/User/footerLand")%>
</html>